
    <h2>Der Krieger {{warrior.name}} wurde angemeldet:</h2>
    <span>Kraft: {{warrior.power}} Punkte, </span>
    <span>Abwher: {{warrior.defence}} Punkte, </span>
    <span>Ausdauer: {{warrior.durability}} Punkte, </span>
    <span>Agilität: {{warrior.agility}} Punkte, </span>



